<section class="about-section">
  <div class="container-fluid">
    <h2 class="section-title">Sobre mi</h2>
    <div class="row justify-content-center">
      <div class="col-8 col-lg-8 text-start">
        <div class="about-content">
          <p [innerHTML]="personalInfo.descripcion"></p>
        </div>
      </div>
    </div>
    <div class="personal-info-section">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-sm col-md-10 col-lg-8 col-xl-6">
            <h3 class="text-center pt-4 text-white ">Datos Personales</h3>
            <ul class="list-group text-white p-2 ">
              <li class="list-group-item d-flex flex-wrap justify-content-between  text-white ">
                <span class="fw-bold text-info">Fecha de Nacimiento</span>
                <span class="text-end">{{personalInfo.nacimiento}}</span>
              </li>
              <li class="list-group-item d-flex flex-wrap justify-content-between  text-white ">
                <span class="fw-bold text-info">Email</span>
                <span class="text-end">{{personalInfo.email}}</span>
              </li>
              <li class="list-group-item d-flex flex-wrap justify-content-between  text-white ">
                <span class="fw-bold text-info">Web</span>
                <span class="text-end"><a href="{{personalInfo.web}}">{{personalInfo.web}}</a></span>
              </li>
              <li class="list-group-item d-flex flex-wrap justify-content-between  text-white ">
                <span class="fw-bold text-info">Dirección</span>
                <span class="text-end">{{personalInfo.localizacion}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
  </div>
</section>
