<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand ps-2" href="#">Victor</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-button-wide" viewBox="0 0 16 16">
          <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5z"/>
          <path d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0M0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5"/>
        </svg>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" *ngFor="let item of navItems">
            <a class="nav-link text-end" [href]="item.link">{{ item.title }}</a></li>
          </ul>
      </div>
    </div>
  </nav>
</header>
  <div class="hero-section d-flex align-items-center justify-content-center">
    <div class="container-fluid text-center">
      <div class="card mx-auto">
        <div class="profile-pic">
          <img src="assets/perfilVictor.jpg" alt="Foto de perfil Victor Montes">
        </div>
        <div class="card-body">
          <app-typewriter></app-typewriter>
          <p class="profession">FullStack Developer Junior</p>
          <div class="social-icons">
            <a href="https://www.instagram.com/victor__montes/" target="_blank"><i class="fab fa-instagram"></i> </a>
            <a href="http://www.linkedin.com/in/victor-montes-developer" target="_blank"><i class="fab fa-linkedin"></i> </a>
            <a href="https://github.com/victormgDev" target="_blank"><i class="fab fa-github"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>

