<section class="proyectos py-5">
  <div class="container-fluid">
    <h2 class="section-title text-center mb-4">Proyectos</h2>

    <div class="row justify-content-center">
      <div class="col-sm col-md-11 col-lg-9 col-xl-7 text-center">
        <div class="row">
          <div
            class="col-12 col-sm-6 col-lg-4 mb-4 d-flex align-items-stretch"
            *ngFor="let proyecto of proyectos">
            <div class="card w-100 shadow-sm">
              <img
                [src]="proyecto.imagen"
                class="card-img-top"
                alt="{{ proyecto.nombre }}"
              />
              <div class="card-body">
                <h5 class="card-title">{{ proyecto.nombre }}</h5>
                <p class="card-text">{{ proyecto.descripcion }}</p>
                <div class="d-flex flex-wrap justify-content-start gap-2 mt-3 ">
                  <span class="tecnologias"
                    *ngFor="let tech of proyecto.tecnologias"
                  >
                    {{ tech }}
                  </span>
                </div>
              </div>
              <div class="card-footer d-flex justify-content-between">
                <a
                  [href]="proyecto.gitHub"
                  target="_blank"
                >
                  <i class="bi bi-github"></i>
                  Codigo</a
                >
                <a
                  *ngIf="proyecto.verProyecto"
                  [href]="proyecto.verProyecto"
                  target="_blank"
                  class="btn btn-sm btn-outline-success"
                >Ver Proyecto</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
