<div class="portfolio-container">
  <app-header
              data-title="Inicio | Victor Montes Garrido"
              data-keywords="Victor Montes, portfolio, desarrolador web, Angular, ASP.NET Ciudad Real"
              data-description="Portfolio personal de Victor Montes Garrido, desarrollador FulStack Junior"></app-header>
<main>
  <app-about-me id="about"
                data-title="Sobre Mi | Victor Montes Garrido"
                data-keywords="Victor Montes, sobre mi, desarrolador web, Ciudad Real"
                data-description="Conoce a Victor Montes Garrido, desarrollador FulStack Junior"></app-about-me>
  <app-skills id="skills"
              data-title="Habilidades | Victor Montes Garrido"
              data-keywords="Angular, .NET, habilidades Victor Montes, tecnologias, frontend, backend"
              data-description="Conoce mis habilidades en programacion, diseño y tecnologias modernas"></app-skills>
  <app-projects id="projects"
                data-title="Proyectos | Victor Montes Garrido"
                data-keywords="Proyectos, portfolio, programacion, desarrollo web"
                data-description="Explora algunos de los proyectos desarrolados por Victor Montes Garrido"></app-projects>
  <app-contact id="contact"
               data-title="Contacto | Victor Montes Garrido"
               data-keywords="Contacto, Victor Montes, email, desarrollador, Ciudad Real"
               data-description="Ponte en contacto conmigo para colaboraciones o cualquier duda"></app-contact>
</main>
  <app-footer></app-footer>
</div>
